html, body {
  margin: 0;
  min-width: 1440px; 
  font-size: 15px;
}

.container {
    border: 1px solid black;
    position: absolute;
    top: 30%;
    left: 38%;
    display: flex;
    flex-wrap: wrap;
}